<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/imgs/bg2.png" />

    <ion-card-header>
      <ion-card-subtitle color="tertiary">London</ion-card-subtitle>
      <ion-card-title>W3Coders</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

  </ion-card>

</ion-content>
